EXPO_PUBLIC_SUPABASE_URL=https://qkghnmmxbibtxltdrehg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_UpNr_T4RLLfibrL8nAoi_g_v9mRAALG

EXPO_PUBLIC_SCHEME=calendium://
EXPO_PUBLIC_AUTH_REDIRECT_MODE='proxy'